*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    width: 100vw;
    background-color: #eac926;
}
.container-form{
    background-color: #ebebeb;
    justify-content: space-between;
    padding: 20px;
    text-align: center;

}

.container-form input{
    justify-content: space-between;
    width: 70%;
    padding: 5px;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    margin: 10px; 
    outline: none;
}


h4{
    margin: auto;
}

.user-profile{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.categories-interests{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.categories-interests input{
    width: 45%;
}
.categories-interests label{
    width: 45%;
}

.submit{
    width: 70%;
    margin: auto; 
}

.submit input{
    background-color: #1259c3;
    border: #ebebeb;
    border-radius: 3px;
    color: white;
    padding: 10px;
}